<% layout('layouts/boilerplate')%>

<div class="row">
	<h1 class="text-center">Edit Photosite</h1>
	<div class="col-6 offset-3">
		<form action="/photosites/<%= photosite._id %>?_method=PUT" method="POST">
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					id="title"
					name="photosite[title]"
					value="<%=photosite.title %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="photosite[location]"
					value="<%=photosite.location %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Image URL</label>
				<input
					class="form-control"
					type="text"
					id="image"
					name="photosite[image]"
					value="<%=photosite.image %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Photosite Price </label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="price-label">$</span>
					</div>
					<input
						type="text"
						class="form-control"
						id="price"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="basic-addon1"
						name="photosite[price]"
						value="<%=photosite.price %>"
					/>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="photosite[description]"
				>
					<%=photosite.description %></textarea
				>
			</div>

			<div class="mb-3">
				<button class="btn btn-info">Update Photosite</button>
			</div>
		</form>
		<a href="/photosites/<%= photosite._id%>">Back To Photosite</a>
	</div>
</div>
